<html>
    <head>
        <meta content='text/html;charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1><%= @user.name %>様、LoveRAMENへようこそ。</h1>
        <h3>やっぱり「<%= @user.genre.name %>」ですよね</h3>

        <p>ご入会ありがとうございます。どうぞお楽しみ下さいませ。</p>
    </body>
</html>