<div class="container">
  <div class="row">
    <h1>あんたも、らーめん好きね〜</h1>
    <div class="col-md-3">
        
        <img class="logo", src="ramen_logo.jpg"></img>
        <%= link_to "いらっしゃ〜い",  url: root_path, class: "welcome" %>
    </div>
    <div class="col-md-9">
        <div class="promotion">
            福岡県人が作ったので、分類はバリ、カタみたいな分け方になっています。</br>
            スマホでみにくかったら横にして見らんね。努力が足りんったい。
            <table class="table table-striped">
                <th>とんこつ系</th><td>当たり前やろーもん、バリカタが博多っ子でしょうが</td></br>
                <th>味噌系</th><td>北海道みたいな、寒い日はこれが一番。バター入りも美味か</td></br>
                <th>醤油系</th><td>あなた東京からいらっしゃいました？ねぎチャーシューが別皿で、忘れんけんね。</td></br>
                <th>二郎系</th><td>是非挑戦してみたい。まだコンビニしかなか！</td></br>
                <th>辛麺系</th><td>店に行って挑戦はしてみたか。よくコンビニではお世話になっとーと。</td></br>
                <th>つけ麺系</th><td>うまいものは美味か。鹿児島にもあったったい。おやじ一人でしよったばい</td></br></br>
            </table>
            らーめんのコメントの際に必ず選択してね・・貴方がこれはとんこつらーめんと選んでも</br>
            博多もんはコリャー醤油ばいということもありますので、選択数が多い分類をそのラーメンの</br>
            分類にしてます。</br>
            コメントは、優等生ばかりじゃ伝わらんとです。あっつとかぬるい（熱くない、熊本時代にぬるく</br>
            感じるラーメンがあったとです。）</br>
            ラーメンも美味しいがここにくるのは辛子高菜が美味し等偏見？それと私利私欲を盛り込んでおります。</br>
            一緒に食べる物を以下の３点からお選び下さい。</br>
            （3つ頼んむことが多くてもこれは外せない分１つだけにしてください。自分は白いご飯が欠かせません。</br>
            食べない店もあるけどね、辛子高菜は無料でしょーも・・</br></br>
            白いご飯；辛子たかなと食べるったい。これが美味か。博多はサービスばい</br>
            チャーハン：半チャー、なんでこんなに美味しかと</br>
            餃子：よく食べる人おるごたーたい。俺は食べまっせん。</br>
        </div>
    </div>
  </div>
</div>