// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row {
    margin-top: 100px;
}

.logo {
    width: auto;
    height: 300px;
    opacity: 0.8;
}

.welcome {
    text-align: center;
    font-size: 15px;
}

.promotion {
    margin-top: 30px;
}