// Place all the styles related to the users/ramenshops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card-deck {
    display: flex;
}

.card {
    position: relative;
    width: 200px;
    padding: 10px;
}